.bookStore {
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: stretch; /* ❗ важливо для повної ширини */
}

.bookStore h1 {
  /* було: font-size: var(--font-xxl); */
  font-size: 2rem;
  color: white;
  margin-bottom: var(--spacing-md);
  text-align: center;
}


.addButtonWrapper {
  margin-bottom: var(--spacing-lg);
  display: flex;
  justify-content: center;
}
