.page {
    padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: stretch; /* ❗ важливо для повної ширини */
}

.heading {

  font-size: var(--font-xxl);
  color: white;
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.page p {
  font-size: var(--font-xxl);
  color: white;
  margin-bottom: var(--spacing-md);
  text-align: center;
}
