.page {
  padding: var(--spacing-xl);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-titles);
  margin-bottom: var(--spacing-lg);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.page p {
  color: var(--color-titles);
}

.bookList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
   justify-content: start;
}

