.container {
  padding: var(--spacing-xl);
  color: var(--color-text);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-titles);
  margin-bottom: var(--spacing-lg);
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.item {
  margin-bottom: var(--spacing-sm);
  font-size: 1rem;
}

.item a {
  color: var(--color-accent);
  text-decoration: underline;
}

.item a:hover {
  text-decoration: none;
  color: var(--color-accent-hover);
}

.emptyMessage {
  font-size: 1.1rem;
  color: #999;
  margin-top: var(--spacing-md);
}
.resultsPage {
  padding: 2rem;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
   justify-content: start;
}

.card {
  text-decoration: none;
  background: white;
  padding: 1rem;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  color: black;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: var(--radius-sm);
}
