.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-md);
  width: 100%;
  max-width: 300px;
  
}

.label {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--color-text);
  font-family: var(--font-body);
}

.required {
  color: var(--color-error);
  margin-left: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.85rem 1rem;
  font-size: 1rem;
  font-family: var(--font-body);
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid var(--color-brown);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: var(--color-inner-buttons);
  box-shadow: 0 0 0 2px rgba(139, 69, 19, 0.2);
}

.errorInput {
  border-color: var(--color-error);
}

.helper {
  font-size: 0.875rem;
  color: var(--color-light-grey);
}

.error {
  font-size: 0.875rem;
  color: var(--color-error);
}
