.container {
  max-width: 350px;
  margin: 6rem auto;
  padding: 2.5rem 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: var(--overlay-blur);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  color: var(--color-text);
  font-family: var(--font-body);
  text-align: left;
  box-sizing: border-box;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

/* Контент профілю: аватар, текст, кнопка */
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

/* Аватар */
.avatarWrapper {
  flex-shrink: 0;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-accent);
}

/* Заголовок */
.container h1 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: var(--spacing-md);
}

/* Профільна інформація */
.container p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.container a {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--color-inner-buttons);
  font-weight: 500;
}

.container strong {
  font-weight: 600;
  color: var(--color-titles);
}


/* Desktop — додатково залишаємо гнучкість на майбутнє */
@media (min-width: 1024px) {
  .profileColumn {
    flex-direction: column; /* можна легко поміняти на row якщо треба */
  }
}
