.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  color: white;
  text-align: center;
}

.container h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}

.container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
