.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-lg); /* для відступу перед Google button */
}
