.container {
  max-width: 400px;
  margin: 6rem auto;
  padding: 1.5rem 2rem 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  text-align: center;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--radius-md);
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  margin-top: 0.2rem;
  color:var(--color-text);
  font-family: var(--font-body);
}

.google-login {
  margin-top: var(--spacing-md);
  display: flex;
  justify-content: center;
}

.error {
  color: var(--color-error);
  font-size: 0.85rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  text-align: left;
  width: 100%;
  max-width: 300px;
}
.continueButton {
  background-color: var(--color-inner-buttons);
  color: var(--color-white);
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  border-radius: var(--radius-md);
  border: none;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  transition: background-color 0.2s ease-in-out;
}

.continueButton:hover {
  background-color: var(--color-brown);
}

.continueButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.resend {
  margin-top: 1rem;
  text-align: center;
}

.resendButton {
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}


/* Додай для кращої адаптивності на мобільних */
@media (max-width: 480px) {
  .container {
    margin: 3rem 1rem;
    padding: 1.25rem;
  }

  .container h2 {
    font-size: 1.5rem;
  }
}
