

/* .favoriteIconOnly:hover {
  background-color: #a0522d;
} */

.favoriteButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.45rem 0.8rem;
  font-size: 0.95rem;
  font-family: var(--font-family-body);
  color: var(--color-brown);
  background-color: transparent;
  border: 1px solid var(--color-brown);
  border-radius: var(--radius-lg);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.favoriteButton:hover {
  background-color: var(--color-beige);
  color: var(--color-dark);
}

.favoriteButton.filled {
  background-color: var(--color-brown);
  color: white;
}

.favoriteIconOnly {
  padding: 0.1rem;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favoriteIconOnly:hover {
  color: var(--color-accent);
}
