.header {
  padding: var(--spacing-md) var(--spacing-lg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  flex-wrap: wrap;
  position: relative;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: var(--font-family-logo);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}

.tagline {
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  font-size: 0.9rem;
}

.desktopMenu {
  display: none;
}

.mobileMenu {
  display: block;
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-lg);
  z-index: 10;
}

@media (min-width: 481px) {
  .logo {
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 3rem;
  }
  .tagline {
    font-size: 0.95rem;
  }
}

@media (min-width: 900px) {
  .logo {
    font-size: 3.4rem;
  }
  .tagline {
    display: block;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desktopMenu {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .mobileMenu {
    display: none;
  }

  .logo {
    font-size: 4rem;
  }

  .tagline {
    font-size: 1rem;
  }
}