.header {
  padding: var(--spacing-md) var(--spacing-lg);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: var(--font-family-logo);
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}

.tagline {
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  font-size: 1rem;
}

.authBlock {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}
