.partnerStore {
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: stretch; /* ❗ важливо для повної ширини */
}

.partnerStore h1 {
  font-size: var(--font-xxl);
  color: white;
  margin-bottom: var(--spacing-md);
  text-align: center;
}