.partnerStore {
  width: 100%;
  max-width: var(--max-width-container);
  margin: var(--spacing-xxl) auto;
  padding: 0 var(--spacing-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.partnerStore h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 0 0 var(--spacing-xl); 
}