/* AdminLayout.module.css */
.adminLayout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
    background-color: transparent; 
}

.main {
  padding: var(--spacing-lg);
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
}
.navbarWrapper {
  display: none;
}

@media (min-width: 768px) {
  .navbarWrapper {
    display: block;
  }
}
