/* AdminLayout.module.css */
.adminLayout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
  background-color: transparent;
}

.main {
  padding: var(--spacing-lg) 0; /* вертикальні паддинги, горизонтальні дає layoutContainer */
  width: 100%;
}
.navbarWrapper {
  display: none;
}

@media (min-width: 768px) {
  .navbarWrapper {
    display: block;
  }
}
