.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: transparent;
}

.main {
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 0;
  flex: 1;
}
