/* 
==========token.css========== */

:root {
  /* Fonts */
  --font-body: "PlayfairDisplay-VariableFont_wght", serif;
  --font-logo: "Marlboro", sans-serif;

  /* Colors — Base */
  --color-bg: #1b1b1b;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Text / UI */
  --color-text: #ffffff;
  --color-dark: #222;
  --color-grey: #333;
  --color-light-grey: #555;

  /* Accent / Brand */
  --color-brown: #e5cfc0ff;
  --color-inner-buttons: #8b4513;
  --color-link: #5d5fef;
  --color-border: var(--color-brown);
  --color-focus: var(--color-inner-buttons);

  /* Form Feedback */
  --color-error: #e74c3c;
  --color-helper: #888;

  /* Backgrounds */
  --color-bg-header: rgba(27, 18, 10, 0.8);
  --overlay-bg: rgba(0, 0, 0, 0.7);
  --overlay-blur: blur(4px);
  --color-border-light: rgba(255, 255, 255, 0.15);
  --color-accent:  #ffffff;/* використовується в hover/checkbox */

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 5px;
  --radius-lg: 8px;
  --radius-full: 50%;

  /* Spacing */
  --spacing-0: 0;
  --spacing-xs: 0.2rem;
  --spacing-sm: 0.4rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;

  /* Utility */
  --max-width-container: 1440px;
  --transition-fast: 0.3s ease-in-out;
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.1);

  /* Breakpoints */
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1440px;

  --color-toast-success: #2ecc71;
  --color-toast-error: #e74c3c;
  --color-toast-info: #3498db;
  --color-toast-warning: #f39c12;

  --color-titles: var(--color-text);
  --color-bg-light: #2b2b2b;
  /* Font sizes used in cards/buttons */
  --font-xs: 0.8rem;
  --font-sm: 0.95rem;
  --font-lg: 1.125rem;
  --font-md: 1rem;

  /* Extra colors used in BookCard/BaseButton */
  --color-accent-light: #ffd9a8;
  --color-light-text: #e6e6e6;
  --color-light: #ddd;
  --color-red: #e74c3c;
}

/* Themes */
[data-theme="dark"] {
  --color-bg: #000;
  --color-text: #fff;
}

[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}
